<div class="row">
  <div class="column small-centered small-12 medium-10 large-8 text-center">
    <h1><%= @trek.title %></h1>
  </div>
  <div class="column small-centered small-12 medium-10 large-8 text-center">
    <h3><%= @trek.location %></h3>
  </div>
</div>
<div class="row">
  <div class="column small-centered">
    <%= link_to 'Add Trail Report', new_trek_report_path(@trek) %><br>
    <ul class="tabs" data-tab>
      <li class="tab-title active"><a href="#panel1">Map</a></li>
      <li class="tab-title"><a href="#panel2">About</a></li>
      <li class="tab-title"><a href="#panel3">My Trail Reports</a></li>
      <li class="tab-title"><a href="#panel4">Trail Reports</a></li>
      <li class="tab-title"><a href="#panel5">Challenges</a></li>
    </ul>
    <div class="tabs-content">
      <div class="content active" id="panel1">
        <iframe width="400" height="300" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?q=44.2705556,-71.3033&key=AIzaSyDWySV5RUUHIOrSfk0zzU9YjvEqiVAnofE" allowfullscreen></iframe>
      </div>
      <div class="content" id="panel2">
        <div class="panel">
          <p><%= @trek.description %></p>
        </div>
      </div>
      <div class="content" id="panel3">
        <% @my_reports.each do |report| %>
          <%= link_to report.starts_at.strftime("%Y-%m-%d"), report_path(report) %>
        <% end %>
      </div>
      <div class="content" id="panel4">
        <% @reports.each do |report| %>
          <%= link_to report.starts_at.strftime("%Y-%m-%d"), report_path(report) %>
          <%= report.user.username %>
        <% end %>
      </div>
      <div class="content" id="panel5">
        <%= render @challenges %>
      </div>
    </div>
  </div>
</div>
