<div class="row">
  <div class="column small-centered medium-10">
    <div class="trans">
      <div class="trans-title">
        <h2>Sign In</h2>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row">
          <div class="column small-12 medium-10">
            <div class="row">
              <div class="column small-3">
                <%= f.label :email, class: "right" %>
              </div>
              <div class="column small-9 inline">
                <%= f.email_field :email, autofocus: true %>
              </div>
            </div>
            <div class="row">
              <div class="column small-3">
                <%= f.label :password, class: "right" %>
              </div>
              <div class="column small-9 inline">
                <%= f.password_field :password, autocomplete: "off" %>
              </div>
            </div>
            <% if devise_mapping.rememberable? %>
              <div class="row">
                <div class="column small-3">
                  <%= f.check_box :remember_me, class: "right" %>
                </div>
                <div class="column small-9 inline">
                  <%= f.label :remember_me %>
                </div>
              </div>
            <% end %>
            <div class="row">
              <div class="column small-offset-3">
                <div class="actions">
                  <%= f.submit "Sign In", class: "button tiny" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
