<div class="row">
  <div class="column small-centered medium-10">
    <div class="report">
      <div class="report-title">
        <h1><%= @challenge.title %></h1>
      </div>
      <div class="report-trek">
        <h3><%= @challenge.tagline %></h3>
      </div>
      <div class="panel">
        <% if @enrolled %>
          <%= link_to 'Stop tracking this challenge.', entry_path, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% else %>
          <%= link_to 'Track this challenge!', enroll_path(@challenge), method: :post %>
        <% end %>
        <br><br>
        <p><%= @challenge.description %></p>
      </div>
      <div class="row">
        <div class="column small-12 large-6">
          <ul class="accordion" data-accordion>
            <% @treks_last.each do |trek| %>
              <li class="accordion-navigation">
                <a href="#panel<%= trek.id %>"><%= trek.title %></a>
                <div id="panel<%= trek.id %>" class="content">
                  <%= trek.location %><br><br>
                  <%= trek.description %><br><br>
                  <%= link_to 'View this trek', trek_path(trek) %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="column small-12 large-6">
          <ul class="accordion" data-accordion>
            <% @treks_first.each do |trek| %>
              <li class="accordion-navigation">
                <a href="#panel<%= trek.id %>"><%= trek.title %></a>
                <div id="panel<%= trek.id %>" class="content">
                  <%= trek.location %><br><br>
                  <%= trek.description %><br><br>
                  <%= link_to 'View this trek', trek_path(trek) %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
