<div class="row">
  <div class="column small-centered small-12 medium-10">
    <div class="report">
      <div class="report-title">
        <h1>Trail Report</h1>
      </div>
      <div class="report-trek">
        <h3><%= @report.trek.title %></h3>
      </div>

      <table>
        <tr>
          <th>Start Date</th>
          <td><%= @report.starts_at.strftime('%A, %B %d') %></td>
        </tr>
        <tr>
          <th>Start Time</th>
          <td><%= @report.starts_at.strftime('%l:%M %p') %></td>
        </tr>
        <tr>
          <th>End Date</th>
          <td><%= @report.ends_at.strftime('%A, %B %d') if @report.ends_at %></td>
        </tr>
        <tr>
          <th>End Time</th>
          <td><%= @report.ends_at.strftime('%l:%M %p') if @report.ends_at %></td>
        </tr>
        <tr>
          <th>Duration</th>
          <td><%= @report.duration %></td>
        </tr>
        <tr>
          <th>Distance</th>
          <td><%= @report.distance %></td>
        </tr>
        <tr>
          <th>Trail Difficulty</th>
          <td><%= @report.difficulty %></td>
        </tr>
        <tr>
          <th>Trail Conditions</th>
          <td><%= @report.conditions %></td>
        </tr>
        <tr>
          <th>Weather</th>
          <td><%= @report.weather %></td>
        </tr>
        <tr>
          <th>Trail Report</th>
          <td><%= @report.report %></td>
        </tr>
      </table>
      <% if current_user == @report.user %>
        <%= link_to 'Update', edit_report_path(@report), class: 'button' %>
      <% end %>
    </div>
  </div>
</div>
