<div class="top-bar">
  <div class="top-bar-right">
    <% if current_user %>
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="has-submenu">
          <a href="#"><%= current_user.username %></a>
          <ul class="submenu menu vertical" data-submenu>
            <li><%= link_to 'Settings', edit_user_registration_path %></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
    <% else %>
      <ul class="menu">
        <li><%= link_to "Sign In", new_user_session_path %></li>
        <li><%= link_to "Join Us", new_user_registration_path %></li>
      </ul>
    <% end %>
  </div>
</div>
